#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  };

* {
    box-sizing: border-box;
}

.box {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    display: inline-block;
    margin-right: 4px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.Word,.Emoji {
    text-align: center;
    width: 100%;
}

.Word {
    font-size: 1.75rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.Emoji {
    font-size: 5rem;
    padding: 1.75rem;

}