#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  };

* {
    box-sizing: border-box;
}

.box {
    height: 9rem;
    width: 9rem;
    border: 1px solid black;
    display: inline-block;
    margin-right: 4px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
}

.Emoji,.SpanishWord {
    text-align: center;
    width: 100%;
}

.SpanishWord, h1 {
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
}

.Emoji {
    font-size: 3rem;
}